      {# Avoid extra whitespace between elements for proper inline layout #}

      {% if pageLayout == "normal" %}
      <hr/>
      {% endif %}
      <footer class="footer row">
        {% if pageLayout != "error" %}
        <div class="col-md-12">
          <ul>
            {% if pageLayout == "normal" %}
            <li><a href="/">Home</a></li><!--
            --><li><a href="/about">About</a></li><!--
            --><li><a href="/help">Help</a></li><!--
            --><li><a href="/contact">Contact</a></li><!--
            -->{% if contact.blog %}<li><!--
              --><a href="{{contact.blog.url}}">Blog</a><!--
            --></li>{% endif %}
            {% else %}
            <li><a href="/help">Help</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        <div class="col-md-12">
          <ul>
            <li><!--
              -->Copyright &#169; 2014
              <span about="http://example.com/"
                typeof="vcard:VCard com:Business gr:BusinessEntity"
                property="rdfs:label vcard:fn gr:legalName"><a href="http://example.com/">Example, Inc.</a></span>
                All rights reserved.<!--
            --></li>
          </ul>
        </div>
      </footer>
    </div>

  </body>
</html>
