{% if pageLayout == "normal" %}
<div class="navbar">
{% else %}
<div class="navbar">
{% endif %}
  <div class="navbar-inner navbar-inner-banner">
    <div class="container ng-cloak">
      <a class="navbar-brand" href="/">
        {% if style.brand.src %}
        <img
          src="{{style.brand.src}}"
          width="{{style.brand.width}}" height="{{style.brand.height}}"
          alt="{{style.brand.alt}}" />
        {% else %}
        {{siteTitle}}
        {% endif %}
      </a>
      {% if pageLayout == "normal" %}
      <!-- menus go here -->
      {% endif %}
    </div>
  </div>
</div>
