<div class="dashboard ng-cloak" ng-controller="DashboardController as model">

  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="section section-itemsX col-md-6">
      <br-headline br-title="Items X" br-loading="model.state.items.loading">
        <ul class="stackable-menu dropdown-menu">
          <li>
            <a class="stackable-cancel" ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</a>
          </li>
        </ul>
      </br-headline>
      <div ng-show="!model.state.items.loading && items.length == 0">
        <p class="text-center">You have no items for this identity.</p>
        <button type="button"
          class="btn btn-success pull-right"
          ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</button>
      </div>
    </div>

    <div class="section section-itemsY col-md-6">
      <br-headline br-title="Items Y" br-loading="model.state.items.loading">
        <ul class="stackable-menu dropdown-menu">
          <li>
            <a class="stackable-cancel" ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</a>
          </li>
        </ul>
      </br-headline>
      <div ng-show="!model.state.items.loading && items.length == 0">
        <p class="text-center">You have no items for this identity.</p>
        <button type="button"
          class="btn btn-success pull-right"
          ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section section-recent-items col-md-6">
      <br-headline br-title="Recent Items" br-loading="model.state.items.loading"
        br-options="{menu: false}"></br-headline>
      <div ng-show="!model.state.items.loading && items.length == 0">
        <p class="text-center">You have no recent items for this identity.</p>
      </div>
    </div>

    <div class="section section-messages col-md-6">
      <br-headline br-title="Messages" br-options="{menu: false}"></br-headline>
      <p class="text-center">You have no new messages.</p>
    </div>
  </div>

</div>
