<div class="dashboard ng-cloak" ng-controller="DashboardController as model">

  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="section section-itemsX col-md-6">
      <headline-menu headline="Items X" loading="model.state.items.loading">
        <ul class="stackable-menu dropdown-menu">
          <li>
            <a class="stackable-cancel" ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</a>
          </li>
        </ul>
      </headline-menu>
      <div ng-show="!model.state.items.loading && items.length == 0">
        <p class="center">You have no items for this identity.</p>
        <button type="button"
          class="btn btn-success pull-right"
          ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</button>
      </div>
    </div>

    <div class="section section-itemsY col-md-6">
      <headline-menu headline="Items Y" loading="model.state.items.loading">
        <ul class="stackable-menu dropdown-menu">
          <li>
            <a class="stackable-cancel" ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</a>
          </li>
        </ul>
      </headline-menu>
      <div ng-show="!model.state.items.loading && items.length == 0">
        <p class="center">You have no items for this identity.</p>
        <button type="button"
          class="btn btn-success pull-right"
          ng-click="modals.showAddItem=true"><i class="fa fa-plus"></i> Add Item</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section section-recent-items col-md-6">
      <h3 class="headline">
        Recent Items
        <span ng-show="model.state.items.loading" class="pull-right">
          <i class="fa fa-refresh fa-spin"></i>
        </span>
      </h3>
      <div ng-show="!model.state.items.loading && items.length == 0">
        <p class="center">You have no recent items for this identity.</p>
      </div>
    </div>

    <div class="section section-messages col-md-6">
      <h3 class="headline">Messages</h3>
      <p class="center">You have no new messages.</p>
    </div>
  </div>

</div>
