<div>
  <div class="well">
    <div ng-hide="fixed" class="pull-right">
      <button class="btn btn-success btn-change"
        ng-show="items.length > 0"
        ng-click="showSelectorModal=true"><i class="fa fa-list"></i> Change</button>
      <button ng-show="items.length == 0" class="btn btn-success"
        ng-click="addItem()"><i class="fa fa-plus"></i> Add {{itemType}}</button>
    </div>
    <div ng-show="selected == null">None found.</div>
    <div ng-show="selected != null">
      <div ng-transclude></div>
    </div>
  </div>

  <stackable-modal stackable="showSelectorModal">
    <div data-selector-modal="showSelectorModal"
      data-modal-title="modalTitle"
      data-items="items" data-item-type="itemType">
      <ul class="list-unstyled item">
        <li class="item-hover well"
          ng-repeat="selected in ((!custom && items) || []) | orderBy:'label'"
          ng-click="select(selected)">
          <div ng-show="!custom" ng-transclude></div>
        </li>
      </ul>
      <div ng-show="custom" ng-transclude></div>
      <div class="pull-right">
        <button class="btn btn-success"
          ng-click="addItem()"><i class="fa fa-plus"></i> Add {{itemType}}</button>
      </div>
      <div style="clear:both"></div>
    </div>
  </stackable-modal>
</div>
