<div>
  <div class="well">
    <div ng-hide="fixed" class="pull-right">
      <button class="btn btn-success btn-change"
        ng-show="items.length > 0"
        ng-click="showSelectorModal=true"><i class="fa fa-list"></i> Change</button>
      <button ng-show="items.length == 0" class="btn btn-success"
        ng-click="addItem()"><i class="fa fa-plus"></i> Add {{itemType}}</button>
    </div>
    <div ng-show="selected == null">None found.</div>
    <div ng-show="selected != null">
      <div ng-transclude></div>
    </div>
  </div>

  <stackable-modal stackable="showSelectorModal">
    <div data-selector-modal="showSelectorModal"
      data-modal-title="modalTitle"
      data-items="items" data-item-type="itemType">
      <ul ng-show="!custom" class="list-unstyled item br-selector-list"></ul>
      <div ng-show="custom" class="br-selector-transclude-custom"></div>
      <div class="pull-right">
        <button class="btn btn-success"
          ng-click="addItem()"><i class="fa fa-plus"></i> Add {{itemType}}</button>
      </div>
      <div style="clear:both"></div>
    </div>
  </stackable-modal>
</div>
