<div>
  <div class="well">
    <div ng-show="items.length == 0">
      <button class="btn btn-success pull-right" ng-click="addItem()">
        <span><i class="fa fa-plus"></i> Add {{itemType}}</span>
      </button>
      <p>None found.</p>
    </div>
    <div ng-show="items.length > 0">
      <button ng-hide="fixed" class="btn btn-success pull-right"
        ng-click="showSelectorModal=true">
        <span><i class="fa fa-list"></i> Change</span>
      </button>
      <div ng-transclude></div>
    </div>
  </div>

  <stackable-modal stackable="showSelectorModal">
    <div br-selector-modal="showSelectorModal"
      br-modal-title="modalTitle"
      br-items="items" br-item-type="itemType">
      <ul ng-show="!custom" class="list-unstyled item br-selector-list"></ul>
      <div ng-show="custom" class="br-selector-transclude-custom"></div>
      <div class="pull-right">
        <button class="btn btn-success"
          ng-click="addItem()"><i class="fa fa-plus"></i> Add {{itemType}}</button>
      </div>
      <div style="clear:both"></div>
    </div>
  </stackable-modal>
</div>
