<div class="modal">
  <div class="modal-header">
    <a class="close btn-close">&times;</a>
    <h3>New Identity</h3>
  </div>
  <div class="modal-body">
    <div data-ng-include="'/app/components/util/demo-warning.html'"></div>

    <p>To add a new identity please fill out the form below.</p>

    <div class="section">
      <h4 class="headline">New Identity</h4>
      <form class="well form-vertical" action="">
        <fieldset>
          <div class="control-group" data-binding="label">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-tag"></i></span><input
                  type="text" name="label"
                  data-ng-model="identityLabel"
                  data-slug-out="identitySlug"
                  data-track-state="model.help.identityLabel"
                  autocomplete="off" />
                <button class="btn"
                  data-help-toggle="model.help.identityLabel">
                  <i class="icon-question-sign"></i>
                </button>
              </div>
              <p data-fade-toggle="model.help.identityLabel.show"
                class="help-block">
                Enter your online handle, for example, some form of your full
                name like 'janedoe'. The name you choose will become part of
                your identity URL. You can also customize your identity
                URL:
              </p>
              <p><small>{{data.identityBaseUri}}/</small><input
                data-binding="sysSlug" class="slug" name="slug"
                placeholder="IDENTITY-NAME"
                data-slug-in data-ng-model="identitySlug" /></p>
              <div data-duplicate-checker="identitySlug"
                data-duplicate-checker-type="identity"
                data-duplicate-checker-available="This identity name is available!"
                data-duplicate-checker-invalid="Identity name is invalid."
                data-duplicate-checker-taken="Identity name has already been taken."
                data-duplicate-checker-checking="Checking Availability..."
                data-duplicate-checker-result="model.identitySlugAvailable">
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="type">Type</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <select name="type"
                  data-ng-model="identityType"
                  data-ng-options="identityTypeLabels[type] for type in identityTypes">
                </select>
              </div>
              <p class="help-block"
                data-ng-show="identityType == 'Identity'">Choose this type if this identity is for a person.</p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
  <div data-modal-footer>
    <span data-spinner="loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <button class="btn btn-primary"
      data-ng-disabled="loading || !model.identitySlugAvailable"
      data-ng-click="addIdentity()"><i class="icon-ok"></i> Add</button>
    <button class="btn btn-close" data-ng-disabled="loading">Cancel</button>
  </div>
</div>
