<form class="form-horizontal" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Label</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-tag"></i></span><input
            class="input-xlarge" type="text" name="label"
            data-ng-model="model.identity.label"
            data-track-state="model.help.label" />
          <button class="btn" data-help-toggle="model.help.label">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <label data-ng-hide="model.allPublic" class="checkbox">
          <input type="checkbox" name="publicLabel" data-ng-model="model.public.label">
            Allow <strong>public</strong> access to identity label.
        </label>
        <p data-fade-toggle="model.help.label.show" class="help-block">
          Enter the public label for this identity.
        </p>
      </div>
    </div>

    <div class="control-group" data-binding="url">
      <label class="control-label" for="url">Website</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-globe"></i></span><input
            class="input-xlarge" type="url" name="url"
            data-ng-model="model.identity.url"
            data-track-state="model.help.url" />
          <button class="btn" data-help-toggle="model.help.url">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <label data-ng-hide="model.allPublic" class="checkbox">
          <input type="checkbox" name="publicWebsite" data-ng-model="model.public.url">
            Allow <strong>public</strong> access to identity website.
        </label>
        <p data-fade-toggle="model.help.url.show" class="help-block">
          Optionally enter a website URL for this identity.
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="imageType">Image Type</label>
      <div class="controls">
        <label class="radio inline">
          <input type="radio" name="gravatarImage" value="gravatar" checked="checked" data-ng-model="model.identity.sysImageType" />
          Gravatar
        </label>
        <label class="radio inline">
          <input type="radio" name="urlImage" value="url" checked="checked" data-ng-model="model.identity.sysImageType" />
          URL
        </label>
      </div>
    </div>

    <div data-ng-show="model.identity.sysImageType == 'gravatar'" class="control-group">
      <label class="control-label" for="imageType">Gravatar Type</label>
      <div class="controls">
        <label class="radio inline">
          <input type="radio" name="gravatarType" value="gravatar" checked="checked" data-ng-model="model.identity.sysGravatarType" />
          Gravatar
        </label>
        <label class="radio inline">
          <input type="radio" name="gravatarType" value="mm" checked="checked" data-ng-model="model.identity.sysGravatarType" />
          Mystery Man
        </label>
        <label class="radio inline">
          <input type="radio" name="gravatarType" value="identicon" checked="checked" data-ng-model="model.identity.sysGravatarType" />
          Identicon
        </label>
        <label class="radio inline">
          <input type="radio" name="gravatarType" value="monsterid" checked="checked" data-ng-model="model.identity.sysGravatarType" />
          MonsterID
        </label>
        <label class="radio inline">
          <input type="radio" name="gravatarType" value="wavatar" checked="checked" data-ng-model="model.identity.sysGravatarType" />
          Wavatar
        </label>
        <label class="radio inline">
          <input type="radio" name="gravatarType" value="retro" checked="checked" data-ng-model="model.identity.sysGravatarType" />
          Retro
        </label>
        <p class="help-block">
          Setting up a <a href="https://www.gravatar.com" target="_blank">Gravatar</a> image for your email will allow you to use the same avatar image on many supported sites. You can also use a generated image unique to your email.
        </p>
      </div>
    </div>

    <div data-ng-show="model.identity.sysImageType == 'url'" class="control-group" data-binding="image">
      <label class="control-label" for="image">Image URL</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-picture"></i></span><input
            class="input-xlarge" type="url" name="image"
            data-ng-model="model.identity.image"
            data-track-state="model.help.image" />
          <button class="btn" data-help-toggle="model.help.image">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.image.show" class="help-block">
          Enter the URL to an image for this identity.
        </p>
      </div>
    </div>

    <div data-ng-show="model.imagePreview" class="control-group">
      <label class="control-label" for="image">Image Preview</label>
      <div class="controls">
        <img data-ng-style="{'max-width': '80px', 'max-height': '80px'}" data-ng-src="{{model.imagePreview}}"/>
        <label data-ng-hide="model.allPublic" class="checkbox">
          <input type="checkbox" name="publicImage" data-ng-model="model.public.image">
            Allow <strong>public</strong> access to identity image.
        </label>
      </div>
    </div>

    <div class="control-group" data-binding="description">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-comment"></i></span><textarea
            class="input-xlarge" rows="5"
            placeholder="Comment"
            data-ng-model="model.identity.description"
            data-track-state="model.help.description"></textarea>
          <button class="btn" data-help-toggle="model.help.description">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <label data-ng-hide="model.allPublic" class="checkbox">
          <input type="checkbox" name="publicDescription" data-ng-model="model.public.description">
            Allow <strong>public</strong> access to identity description.
        </label>
        <p data-fade-toggle="model.help.description.show" class="help-block">
          Optionally enter a description of this identity.
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="allPublic">Visibility</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="allPublic" data-ng-model="model.allPublic">
            Allow <strong>public</strong> access to all above identity details.
        </label>
        <p data-ng-hide="model.allPublic" class="help-block">
          You can control public visibility of individual properties.
        </p>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div data-alerts data-filter-origin="page"></div>
        <span data-spinner="model.loading"
          data-spinner-class="prepend-btn-spinner"></span>
        <button class="btn btn-primary"
          data-ng-disabled="model.loading || !model.identity"
          data-ng-click="model.update()"><i class="icon-ok"></i> Update</button>
        <button class="btn"
          data-ng-disabled="model.loading"
          data-ng-click="model.cancel()">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
