<form class="form-horizontal" role="form">
  <fieldset>
    <br-input br-model="model.identity.label"
      br-options="{icon: 'tag', name: 'label', label: 'Label'}">
      Enter the public label for this identity.
    </br-input>

    <div class="form-group" ng-show="model.publicMode == 'some'">
      <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="publicLabel" ng-model="model.public.label">
              Allow <strong>public</strong> access to identity label.
          </label>
        </div>
      </div>
    </div>

    <br-input br-model="model.identity.url"
      br-options="{icon: 'globe', type: 'url', name: 'url', label: 'Website'}">
      Optionally enter a website URL for this identity.
    </br-input>

    <div class="form-group" ng-show="model.publicMode == 'some'">
      <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="publicWebsite" ng-model="model.public.url">
              Allow <strong>public</strong> access to identity website.
          </label>
        </div>
      </div>
    </div>

    <br-input br-model="model.identity.email"
      br-options="{icon: 'envelope', type: 'email', name: 'email', label: 'Email', disabled: true}">
      <!-- Enter an email for this identity. -->
      Identity email can not be changed on this page.
    </br-input>

    <div class="form-group" ng-show="model.publicMode == 'some'">
      <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="publicEmail" ng-model="model.public.email">
              Allow <strong>public</strong> access to identity email.
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="imageType">Image Type</label>
      <label class="radio-inline">
        <input type="radio" name="gravatarImage" value="gravatar" checked="checked" ng-model="model.identity.sysImageType" />
        Gravatar
      </label>
      <label class="radio-inline">
        <input type="radio" name="urlImage" value="url" checked="checked" ng-model="model.identity.sysImageType" />
        URL
      </label>
    </div>

    <div ng-show="model.identity.sysImageType == 'gravatar'" class="form-group">
      <label class="control-label col-sm-3" for="imageType">Gravatar Type</label>
      <label class="radio-inline">
        <input type="radio" name="gravatarType" value="gravatar" checked="checked" ng-model="model.identity.sysGravatarType" />
        Gravatar
      </label>
      <label class="radio-inline">
        <input type="radio" name="gravatarType" value="mm" checked="checked" ng-model="model.identity.sysGravatarType" />
        Mystery Man
      </label>
      <label class="radio-inline">
        <input type="radio" name="gravatarType" value="identicon" checked="checked" ng-model="model.identity.sysGravatarType" />
        Identicon
      </label>
      <label class="radio-inline">
        <input type="radio" name="gravatarType" value="monsterid" checked="checked" ng-model="model.identity.sysGravatarType" />
        MonsterID
      </label>
      <label class="radio-inline">
        <input type="radio" name="gravatarType" value="wavatar" checked="checked" ng-model="model.identity.sysGravatarType" />
        Wavatar
      </label>
      <label class="radio-inline">
        <input type="radio" name="gravatarType" value="retro" checked="checked" ng-model="model.identity.sysGravatarType" />
        Retro
      </label>
      <p class="help-block col-sm-offset-3 col-sm-8">
        Setting up a <a href="https://www.gravatar.com" target="_blank">Gravatar</a> image for your email will allow you to use the same avatar image on many supported sites. You can also use a generated image unique to your email.
      </p>
    </div>

    <br-input ng-show="model.identity.sysImageType == 'url'"
      br-model="model.identity.image"
      br-options="{icon: 'picture', type: 'url', name: 'image', label: 'Image URL'}">
      Enter the URL to an image for this identity.
    </br-input>

    <div ng-show="model.imagePreview" class="form-group">
      <label class="control-label col-sm-3" for="image">Image Preview</label>
      <img ng-style="{'max-width': '80px', 'max-height': '80px'}" ng-src="{{model.imagePreview}}"/>
    </div>
    <div class="form-group" ng-show="model.publicMode == 'some'">
      <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="publicImage" ng-model="model.public.image">
              Allow <strong>public</strong> access to identity image.
          </label>
        </div>
      </div>
    </div>

    <br-textarea br-model="model.identity.description"
      br-options="{icon: 'comment', name: 'description', label: 'Description'}">
      Optionally enter a description of this identity.
    </br-textarea>

    <div class="form-group" ng-show="model.publicMode == 'some'">
      <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="publicDescription" ng-model="model.public.description">
              Allow <strong>public</strong> access to identity description.
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="imageType">Visibility</label>
      <div class="col-sm-8">
        <div class="radio">
          <label>
            <input type="radio" name="nonePublic" value="none" checked="checked" ng-model="model.publicMode" />
              <i class="fa fa-eye-close"></i> No public access to <strong>any</strong> identity details.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="somePublic" value="some" checked="checked" ng-model="model.publicMode" />
              <i class="fa fa-eye"></i> Allow <strong>public</strong> access to specified properties.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="mostPublic" value="most" checked="checked" ng-model="model.publicMode" />
              <i class="fa fa-eye"></i> Allow <strong>public</strong> access to all properties <strong>except</strong> email.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="allPublic" value="all" checked="checked" ng-model="model.publicMode" />
              <i class="fa fa-eye"></i> Allow <strong>public</strong> access to all properties <strong>including</strong> email.
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <span ng-show="model.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button type="button" class="btn btn-primary"
          ng-disabled="model.loading || !model.identity"
          ng-click="model.update()"><i class="fa fa-check"></i> Update</button>
        <button type="button" class="btn btn-default"
          ng-disabled="model.loading"
          ng-click="model.cancel()">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
