<div>
  <div br-selector br-item-type="Identity"
    br-items="identities" br-selected="selected" br-invalid="invalid"
    br-add-item="showAddIdentityModal=true" br-fixed="{{fixed}}">
    <div class="identity">
      <strong>{{selected.label}}</strong><br/>
      <small>{{selected.id}}</small><br/>
      <span ng-show="selected.address.length > 0">
        {{selected.address[0].fullName}}
      </span>
    </div>
  </div>
  <stackable-modal stackable="showAddIdentityModal"
    stackable-closed="!err && (selected=result.identity)">
    <div br-add-identity-modal br-identity-types="identityTypes"></div>
  </stackable-modal>
</div>
