<div class="container ng-cloak"
  data-ng-controller="IdentityCredentialsController as model">

  <div class="row">
    <div class="title-section span12">
      <h1 class="headline">Identity Credentials</h1>
    </div>
  </div>

  <div class="row">
    <div class="section span12">
      <h3 class="headline">Credentials Request</h3>

      <p>
        The domain <strong>{{model.identityCredentials.domain}}</strong> is
        requesting the following information about your identity. Do you want to
        share this information?
      </p>

      <dl class="dl-horizontal">
        <dt>Identity URL</dt>
        <dd>{{model.identity.id}}</dd>
      </dl>

      <form class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-success" data-ng-click="model.authorize(true)">
              <i class="icon-thumbs-up"></i> Yes
            </button>
            <button class="btn btn-danger" data-ng-click="model.authorize(false)">
              <i class="icon-thumbs-down"></i> No
            </button>
          </div>
        </div>
      </form>

      <div data-feedback="model.feedback"></div>
    </div>
  </div>

</div>
