<div class="container ng-cloak" data-ng-controller="IdentityCredentialsCtrl">

  <div class="row">
    <div class="title-section span12">
      <h1 class="headline">Identity Credentials</h1>
    </div>
  </div>

  <div>
    <p>The domain <strong>{{model.identityCredentials.domain}}</strong> would
      like to know your identity URL (<strong>{{model.identity.id}}</strong>).
      Do you want to share this information?
    </p>
    <form class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-success" data-ng-click="model.authorize(true)">
            <i class="icon-thumbs-up"></i> Yes
          </button>
          <button class="btn btn-danger" data-ng-click="model.authorize(false)">
            <i class="icon-thumbs-down"></i> No
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
