<div class="ng-cloak" ng-controller="IdentityController as model">
  <div ng-show="model.identity.label" class="row">
    <div class="col-md-12">
      <h1 class="headline" ng-bind="model.identity.label"></h1>
    </div>
  </div>

  <div class="row">
    <div class="section col-md-12">
      <h3 class="headline">
        Identity Details
        <span ng-show="model.state.identites.loading" class="pull-right">
          <span data-spinner="model.state.identites.loading" data-spinner-class="h3-spinner"></span>
        </span>
      </h3>
      <div class="alert alert-danger" ng-show="model.identity === null && !model.state.identites.loading">
        <strong>Error!</strong> Identity not found or access not allowed.
      </div>

      <dl ng-show="model.identity" class="dl-horizontal" about="" typeof="bed:{{model.identity.type}}">
        <dt ng-show="model.identity.label">Label</dt>
        <dd ng-show="model.identity.label">
          <ul class="list-unstyled">
            <li property="rdfs:label">{{model.identity.label}}</li>
          </ul>
        </dd>

        <dt ng-show="model.identity.description">Description</dt>
        <dd ng-show="model.identity.description">
          <ul class="list-unstyled">
            <li property="dc:description">{{model.identity.description}}</li>
          </ul>
        </dd>

        <dt ng-show="model.identity.url">Website</dt>
        <dd ng-show="model.identity.url">
          <ul class="list-unstyled">
            <li><a property="schema:url" href="{{model.identity.url}}">{{model.identity.url}}</a></li>
          </ul>
        </dd>

        <dt ng-show="model.identity.email">Email</dt>
        <dd ng-show="model.identity.email">
          <ul class="list-unstyled">
            <li><a property="schema:email" href="mailto:{{model.identity.email}}">{{model.identity.email}}</a></li>
          </ul>
        </dd>

        <dt ng-show="model.identity.image">Image</dt>
        <dd ng-show="model.identity.image">
          <ul class="list-unstyled">
            <li><img property="schema:image" ng-style="{'max-width': '80px', 'max-height': '80px'}" ng-src="{{model.identity.image}}"/></li>
          </ul>
        </dd>

        <dt>Cryptographic Keys</dt>
        <dd>
          <ul class="list-unstyled">
            <li ng-show="model.identity.publicKey.length > 0" ng-repeat="key in model.identity.publicKey">
              <a about="" rel="sec:publicKey" href="{{key.id}}">
                <span property="rdfs:label">{{key.label}}</span>
              </a>
              <span about="{{key.id}}" typeof="sec:CryptographicKey">
                <link rel="sec:owner" href="" />
              </span>
            </li>
            <li ng-show="model.identity.publicKey.length == 0">No publicly visible keys.</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>
