<div class="modal">
  <div class="modal-header">
    <a class="close stackable-cancel">&times;</a>
    <h3>Edit Key</h3>
  </div>
  <div class="modal-body">
    <div data-ng-include="'/app/components/util/demo-warning.html'"></div>
    <div data-ng-include="'/app/components/key/key-form.html'"></div>
  </div>
  <div class="modal-footer">
    <span data-spinner="model.loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <button class="btn btn-primary"
      data-ng-disabled="model.loading"
      data-ng-click="model.editKey()"><i class="icon-ok"></i> Save</button>
    <button class="btn stackable-cancel" data-ng-disabled="model.loading">Cancel</button>
  </div>
</div>
