<form class="well form-horizontal" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Key Label</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-tag"></i></span><input
            type="text" name="label"
            ng-model="model.key.label"
            data-track-state="model.help.label" />
          <button class="btn" data-help-toggle="model.help.label">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p ng-show="model.help.label.show" class="help-block br-fadein br-fadeout"
          ng-include="'/app/components/key/key-help.html'"></p>
      </div>
    </div>

    <div class="control-group" data-binding="publicKeyPem" ng-show="model.needPem">
      <label class="control-label" for="publicKeyPem">Public Key PEM</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-key"></i></span><textarea
            name="publicKeyPem"
            rows="5"
            placeholder="Public Key PEM"
            ng-model="model.key.publicKeyPem"
            data-track-state="model.help.publicKeyPem" />
          <button class="btn" data-help-toggle="model.help.publicKeyPem">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p ng-show="model.help.publicKeyPem.show" class="help-block br-fadein br-fadeout">
          Enter the public key PEM data.
        </p>
      </div>
    </div>
  </fieldset>
</form>
