<br-selector br-selected="selected=brSelector.selected" br-key-selector-inner>
  <div name="br-selector-selected">
    <div br-lazy-compile="selected" br-lazy-id="br-key-selector-selected">
      <span ng-show="model.state.loading">
        <i class="fa fa-refresh fa-spin text-muted"></i>
      </span>
      <div ng-hide="model.state.loading">
        <strong>{{selected.label}}</strong>
        <br/>
        <small>{{selected.id}}</small>
      </div>
    </div>
  </div>
  <div name="br-selector-choices">
    <div br-lazy-compile="brSelector.showChoices" br-lazy-id="br-key-selector-choices">
      <div ng-show="model.state.loading">
        <i class="fa fa-refresh fa-spin text-muted"></i>
      </div>
      <ul ng-hide="model.state.loading" class="list-unstyled">
        <li class="br-item-hover well" ng-repeat="key in model.keys"
          ng-click="brSelector.select(key)">
          <strong>{{key.label}}</strong>
          <br/>
          <small>{{key.id}}</small>
        </li>
      </ul>
    </div>
  </div>
</br-selector>
<stackable-modal stackable="model.showAddKeyModal"
  stackable-closed="!err && brSelector.select(result)"
  br-lazy="model.showAddKeyModal" br-lazy-id="br-key-selector-add-key-modal">
  <div br-generate-key-pair-modal></div>
</stackable-modal>
