<ul class="dropdown-menu pull-right">
  <!-- Edit -->
  <li>
    <a data-ng-click="editKey(key)">
      <i class="icon-pencil"></i> Edit
    </a>
  </li>
  <!-- Default Signing Key -->
  <li data-ng-show="identity.signingKey != key.id && key.sysStatus == 'active'">
    <a data-ng-click="setDefaultSigningKeyId(key.id)">
      <i class="icon-star"></i> Set as default
    </a>
  </li>
  <!-- Revoke -->
  <li class="divider" data-ng-hide="key.sysStatus == 'disabled'"></li>
  <li class="btn-danger" data-ng-hide="key.sysStatus == 'disabled'">
    <a data-ng-click="revokeKey(key)">
      <i class="icon-remove"></i> Revoke
    </a>
  </li>
</ul>
