<div class="section section-keys" data-ng-controller="KeysCtrl">
  <h3 class="headline">
    Keys
    <span data-ng-hide="state.loading" class="btn-group pull-right">
      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-reorder"></i>
      </a>
      <ul class="dropdown-menu pull-right">
        <li>
          <a data-ng-click="modals.showGenerateKeyPair=true"><i class="icon-plus"></i> Generate Key Pair</a>
        </li>
        <li>
          <a data-ng-click="modals.showAddKey=true"><i class="icon-plus"></i> Add Key</a>
        </li>
      </ul>
    </span>
    <span data-ng-show="state.loading" class="pull-right">
      <span data-spinner="state.loading" data-spinner-class="h3-spinner"></span>
    </span>
  </h3>
  <table class="table table-condensed" data-ng-show="state.loading || keys.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Revoke</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="key in keys | orderBy:'label' | orderBy:'sysStatus':reverse">
        <!-- Name -->
        <td>
          <a href="{{key.id}}">{{key.label}}</a>
        </td>
        <!-- Status -->
        <td>
          <span data-ng-show="key.sysStatus == 'disabled'">Revoked</span>
          <span data-ng-show="key.sysStatus == 'active'">Active</span>
        </td>
        <!-- Edit -->
        <td class="action">
          <button class="btn" title="Edit" data-ng-click="editKey(key)"><i class="icon-pencil"></i></button>
        </td>
        <!-- Revoke -->
        <td class="action">
          <button class="btn btn-danger" title="Revoke" data-ng-hide="key.sysStatus == 'disabled'" data-ng-click="revokeKey(key)"><i class="icon-remove"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div data-ng-show="!state.loading && keys.length == 0">
    <p class="center">You have no keys associated with this identity.
    Access keys can be added by using an external website or application
    or one can be generated that this site controls.</p>
  </div>
  <div data-modal-generate-key-pair="modals.showGenerateKeyPair"></div>
  <div data-modal-add-key="modals.showAddKey"></div>
  <div data-modal-edit-key="modals.showEditKey" data-key="modals.key"></div>

  <!-- Revoking key alert -->
  <div data-modal-alert="modals.showRevokeKeyAlert"
    data-modal-header="Warning"
    data-modal-ok="Revoke"
    data-modal-cancel="Cancel"
    data-modal-on-close="confirmRevokeKey(err, result)">
    <div class="center alert">
      <strong>Warning!</strong>
      Revoking a key is permanent.
    </div>
    <p>Any funtionality provided by this key will be invalidated and any
    applications that use this key will be disabled.
    You can re-enable your access and applications by registering a new
    key.</p>
    <p>Are you sure that you want to revoke this key?</p>
  </div>
</div>
