<div class="section section-keys" ng-controller="KeysController as model">
  <br-headline br-title="Keys" br-loading="model.state.loading">
    <ul class="stackable-menu dropdown-menu">
      <li ng-show="model.isOwner">
        <a class="stackable-cancel"
          ng-click="model.modals.showGenerateKeyPair=true"><i class="fa fa-plus"></i> Generate Key Pair</a>
      </li>
      <li ng-show="model.isOwner">
        <a class="stackable-cancel"
          ng-click="model.modals.showAddKey=true"><i class="fa fa-plus"></i> Add Key</a>
      </li>
      <li>
        <a class="stackable-cancel"
          ng-click="model.showRevokedKeys=!model.showRevokedKeys"><i
          ng-show="model.showRevokedKeys" class="fa fa-check-square-o"></i><i ng-hide="model.showRevokedKeys" class="fa fa-square-o"></i> Show Revoked Keys</a>
      </li>
    </ul>
  </br-headline>
  <table class="table table-condensed" ng-show="model.state.loading || model.keys.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th class="br-compact">Status</th>
        <th class="br-action" ng-show="model.isOwner">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="key in model.keys | orderBy:'label' | orderBy:'sysStatus':reverse"
        ng-show="key.sysStatus == 'active' || model.showRevokedKeys"
        ng-class="{'danger': key.sysStatus == 'disabled'}">
        <!-- Name -->
        <td>
          <a href="{{key.id}}">{{key.label}}</a>
          <span ng-show="model.identity.sysSigningKey == key.id">
            <i class="icon fa fa-star"
              br-tooltip="This is the default signing key."
              br-options="{placement: 'bottom'}"></i>
          </span>
        </td>
        <!-- Status -->
        <td class="br-compact">
          <span ng-show="key.sysStatus == 'disabled'">Revoked</span>
          <span ng-show="key.sysStatus == 'active'">Active</span>
        </td>
        <!-- Action -->
        <td class="br-action" ng-show="model.isOwner">
          <br-action-menu>
            <ul class="dropdown-menu stackable-menu">
              <!-- Edit -->
              <li>
                <a class="stackable-cancel" ng-click="model.editKey(key)">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </li>
              <!-- Default Signing Key -->
              <li ng-show="model.identity.sysSigningKey != key.id && key.sysStatus == 'active'">
                <a class="stackable-cancel" ng-click="model.setDefaultSigningKeyId(key.id)">
                  <i class="fa fa-star"></i> Set as default
                </a>
              </li>
              <!-- Revoke -->
              <li class="divider" ng-hide="key.sysStatus == 'disabled'"></li>
              <li class="alert-danger" ng-hide="key.sysStatus == 'disabled'">
                <a class="stackable-cancel" ng-click="model.revokeKey(key)">
                  <i class="fa fa-times"></i> Revoke
                </a>
              </li>
            </ul>
          </br-action-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="!model.state.loading && model.keys.length == 0">
    <p class="text-center">You have no keys associated with this identity.
    Access keys can be added by using an external website or application
    or one can be generated that this site controls.</p>
  </div>
  <stackable-modal stackable="model.modals.showGenerateKeyPair"
    br-lazy-compile="model.modals.showGenerateKeyPair" br-lazy-id="br-keys-view-generate-key-pair-modal">
    <div br-generate-key-pair-modal></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddKey"
    br-lazy-compile="model.modals.showAddKey" br-lazy-id="br-keys-view-add-key-modal">
    <div br-add-key-modal></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showEditKey"
    br-lazy-compile="model.modals.showEditKey" br-lazy-id="br-keys-view-edit-key-modal">
    <div br-edit-key-modal br-key="model.modals.key"></div>
  </stackable-modal>

  <!-- Revoking key alert -->
  <stackable-modal stackable="model.modals.showRevokeKeyAlert"
    stackable-closed="model.confirmRevokeKey(err, result)"
    br-lazy-compile="model.modals.showRevokeKeyAlert" br-lazy-id="br-keys-view-revoke-key-modal">
    <div br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Revoke"
      br-modal-cancel="Cancel">
      <div class="text-center alert alert-danger">
        <strong>Warning!</strong>
        Revoking a key is permanent.
      </div>
      <p>Any functionality provided by this key will be invalidated and any
      applications that use this key will be disabled.
      You can re-enable your access and applications by registering a new
      key.</p>
      <p>Are you sure that you want to revoke this key?</p>
    </div>
  </stackable-modal>
</div>
