<div class="section section-keys" data-ng-controller="KeysCtrl">
  <h3 class="headline">
    Keys
    <span data-ng-hide="state.loading" class="btn-group pull-right">
      <a class="btn"
        data-popover-template="/app/components/key/keys-view-menu.html"
        data-popover-visible="model.showKeysMenu"
        data-placement="bottom">
        <i class="icon-reorder"></i>
      </a>
    </span>
    <span data-ng-show="state.loading" class="pull-right">
      <span data-spinner="state.loading" data-spinner-class="h3-spinner"></span>
    </span>
  </h3>
  <table class="table table-condensed" data-ng-show="state.loading || keys.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th class="compact">Status</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-show="key.sysStatus == 'active' || model.showRevokedKeys" data-ng-repeat="key in keys | orderBy:'label' | orderBy:'sysStatus':reverse">
        <!-- Name -->
        <td>
          <a href="{{key.id}}">{{key.label}}</a>
          <span data-ng-show="identity.sysSigningKey == key.id"
            data-tooltip-title="This is the default signing key."
            data-placement="bottom" data-trigger="hover"><i class="icon icon-star"></i></span>
        </td>
        <!-- Status -->
        <td class="compact">
          <span data-ng-show="key.sysStatus == 'disabled'">Revoked</span>
          <span data-ng-show="key.sysStatus == 'active'">Active</span>
        </td>
        <!-- Action -->
        <td class="action">
          <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
              data-popover-template="/app/components/key/keys-action-menu.html"
              data-popover-visible="model.showKeysActionMenu_{{$index}}"
              data-placement="bottom">
              <i class="icon-chevron-down"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div data-ng-show="!state.loading && keys.length == 0">
    <p class="center">You have no keys associated with this identity.
    Access keys can be added by using an external website or application
    or one can be generated that this site controls.</p>
  </div>
  <div data-modal-generate-key-pair="modals.showGenerateKeyPair"></div>
  <div data-modal-add-key="modals.showAddKey"></div>
  <div data-modal-edit-key="modals.showEditKey" data-key="modals.key"></div>

  <!-- Revoking key alert -->
  <div data-modal-alert="modals.showRevokeKeyAlert"
    data-modal-header="Warning"
    data-modal-ok="Revoke"
    data-modal-cancel="Cancel"
    data-modal-on-close="confirmRevokeKey(err, result)">
    <div class="center alert">
      <strong>Warning!</strong>
      Revoking a key is permanent.
    </div>
    <p>Any funtionality provided by this key will be invalidated and any
    applications that use this key will be disabled.
    You can re-enable your access and applications by registering a new
    key.</p>
    <p>Are you sure that you want to revoke this key?</p>
  </div>
</div>
