<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Sign In</h3>
      </div>
      <div class="modal-body">
        <div ng-include="'/app/components/util/demo-warning.html'"></div>
        <p class="alert alert-warning">
          Your session has expired, please sign back in to continue.
        </p>
        <form class="well form-horizontal">
          <fieldset>
            <br-input br-model="model.sysIdentifier"
              ng-keypress="$event.which == 13 && model.login()"
              br-options="{
                name: 'sysIdentifier', label: 'Identity', disabled: true}">
              You cannot change the identity here. If you need to log in
              using another identity, please refresh the page.
            </br-input>

            <br-input br-model="model.password"
              ng-keypress="$event.which == 13 && model.login()"
              br-options="{
                name: 'password', type: 'password',
                label: 'Password', disabled: model.loading}">
              Please enter your password.
            </br-input>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <span ng-show="model.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button type="button" class="btn btn-primary"
          ng-disabled="model.loading"
          ng-click="model.login()"><i class="fa fa-sign-in"></i> Sign In</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
