<div ng-controller="LoginController as model">

<h2 class="headline">{{model.siteTitle}}</h2>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <form class="form-horizontal" ng-submit="model.submit()">
      <fieldset>
        <legend>Sign In</legend>

        <div ng-if="model.request" class="form-group">
          <div class="alert alert-info headline">
            Please sign in to complete your request.
          </div>
        </div>

        <br-input ng-if="!model.multiple" br-model="model.sysIdentifier"
          br-options="{
            name: 'sysIdentifier', label: 'Email', disabled: {{model.loading}},
            autofocus: true,
            columns: {
              label: 'col-md-2',
              input: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
          Please enter the email address that you used when you registered
          with this website.
        </br-input>

        <div ng-if="model.multiple" class="form-group">
          <div class="col-md-12">
            <p class="alert alert-info">
              <strong>Note:</strong>
              Your email address (<strong>{{model.email}}</strong>) is
              associated with multiple identities. Please select the identity
              you'd like to sign in with.
            </p>
          </div>
        </div>

        <br-select ng-if="model.multiple" br-model="model.sysIdentifier"
          br-items="model.choices" br-display-item="item.label"
          br-options="{
            name: 'sysIdentifier', label: 'Identity',
            placeholder: 'Choose...', key: 'id',
            disabled: {{model.loading}},
            columns: {
              label: 'col-md-2',
              select: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
        </br-select>

        <br-input br-model="model.password"
          br-options="{
            name: 'password', type: 'password',
            label: 'Password', disabled: {{model.loading}},
            columns: {
              label: 'col-md-2',
              input: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
          Please enter your password.
        </br-input>

        <div class="form-group">
          <div class="input-group col-md-offset-2 col-md-9">
            <div class="btn-group">
              <button class="btn btn-primary" type="submit"
                ng-disabled="model.loading"><i
                class="fa fa-sign-in"></i> Sign In</button>
              <button class="btn btn-primary" type="button"
                stackable-trigger="model.signInMenu"
                stackable-toggle="'active'"
                ng-disabled="model.loading">
                <i class="caret"></i>
              </button>
            </div>
            <stackable-popover stackable="model.signInMenu"
              stackable-hide-arrow="true"
              stackable-placement="bottom"
              stackable-alignment="right">
              <ul class="dropdown-menu stackable-menu">
                <li ng-show="model.flags.enableCreateIdentity">
                  <a href="/join">
                    <i class="fa fa-user"></i>
                    Create an Identity
                  </a>
                </li>
                <li>
                  <a href="/session/passcode">
                    <i class="fa fa-refresh"></i>
                    Password Reset
                  </a>
                </li>
              </ul>
            </stackable-popover>
            <span ng-show="model.loading">
              <i class="fa fa-refresh fa-spin fa-lg text-muted"></i>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

</div>
