<div ng-controller="LoginController as model">

<h2 class="headline">Sign in to {{model.siteTitle}}</h2>

<div class="alert alert-info headline" ng-show="model.request">
  Please sign in to complete your request.
</div>

<form class="headline" method="post" action="" ng-submit="model.submit()">
  <fieldset>
    <div class="control-group">
      <div ng-hide="model.multiple" class="controls">
        <input name="sysIdentifier" type="text" autofocus="autofocus"
          ng-model="model.sysIdentifier"
          placeholder="Email" ng-disabled="model.loading" />
      </div>

      <div ng-show="model.multiple">
        <p class="alert alert-info">
          <strong>Note:</strong>
          Your email address ({{email}}) is associated with multiple
          identities. Please select the identity you'd like to sign in with.
        </p>
        <div class="controls">
          <select name="identity" autofocus="autofocus"
            ng-model="identity"
            ng-options="value.id as value.label for value in model.choices"
            ng-disabled="model.loading">
          </select>
        </div>
      </div>

      <div class="controls">
        <input name="password" type="password" placeholder="Password"
          ng-model="model.password" ng-disabled="model.loading" />
      </div>

      <div data-spinner="model.loading"
        data-spinner-class="center-spinner"></div>

      <div ng-hide="model.loading">
        <div class="btn-group">
          <button class="btn btn-primary" type="button" data-submit-form><i
            class="icon-signin"></i> Sign In</button>
          <button class="btn btn-primary" type="button"
            stackable-trigger="model.signInMenu"
            stackable-toggle="'active'">
            <i class="caret"></i>
          </button>
        </div>
        <stackable-popover stackable="model.signInMenu"
          stackable-hide-arrow="true"
          stackable-placement="bottom"
          stackable-alignment="right">
          <ul class="dropdown-menu stackable-menu">
            <li>
              <a href="/join">
                <i class="icon-user"></i>
                Create an Identity
              </a>
            </li>
            <li>
              <a href="/session/passcode">
                <i class="icon-refresh"></i>
                Password Reset
              </a>
            </li>
          </ul>
        </stackable-popover>
      </div>
    </div>
  </fieldset>
</form>

</div>
