<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title">{{header}}</h3>
      </div>
      <div class="modal-body">
        <div ng-transclude></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="stackable.close(null, 'ok')">{{ok || 'Ok'}}</button>
        <button type="button" class="btn btn-default stackable-cancel">{{cancel || 'Cancel'}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
