{% extends 'layout.html' %}

{% set pageTitle = "Create Identity" %}
{% set clientData.pageTitle = "Create Identity" %}

{% block content %}

{% raw %}
<div class="ng-cloak" ng-controller="CreateIdentityController as model">

<div class="row">
  <div class="col-md-12">
    <div ng-include="'/app/components/util/demo-warning.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class="headline">Create an Identity</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <form class="form-horizontal" ng-submit="model.submit()">
      <fieldset>
        <legend>Your Email and Password</legend>

        <div class="form-group">
          <p class="help-block col-md-10">
            By entering a valid email address and password you will be able to
            log into the service.
          </p>
        </div>

        <br-input br-model="model.identity.email"
          br-options="{
            name: 'email', label: 'Email', disabled: {{model.loading}},
            autocomplete: 'off',
            columns: {
              label: 'col-md-2',
              input: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
          A valid email address is required so that we can reset
          your password if you get locked out.
        </br-input>
        <div ng-show="model.identity.email" class="form-group">
          <div class="col-md-offset-2 col-md-8"
            br-duplicate-checker="model.identity.email"
            br-duplicate-checker-type="email"
            br-duplicate-checker-available="This email address is available!"
            br-duplicate-checker-invalid="Email address is invalid."
            br-duplicate-checker-taken="This email address is already in use. While you can create a new identity if you want to, you may want to log in as your existing identity instead."
            br-duplicate-checker-checking="Checking Availability..."
            br-duplicate-checker-result="model.emailAvailable">
          </div>
        </div>

        <br-input br-model="model.identity.sysPassword"
          br-options="{
            name: 'sysPassword', type: 'password',
            label: 'Password', maxlength: '32', disabled: {{model.loading}},
            columns: {
              label: 'col-md-2',
              input: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
          Please enter a secure password that is between 6 and 32 characters long. The best passwords are
          lengthy, memorable phrases like: the<strong>lemurs</strong>ride<strong>on</strong>the<strong>fortnight</strong>
        </br-input>
      </fieldset>

      <br/>

      <fieldset>
        <legend>Your Identity</legend>

        <div class="form-group">
          <p class="help-block col-md-10">
            Your identity will be used to keep track of and verify your online
            activity with this service. Please enter your full name and then
            select a short name that is used for your identity.  It is usually
            a good idea to use some shortened form of your full name for your
            id, similar to how people choose email addresses or Twitter
            handles.
          </p>
        </div>

        <br-input br-model="model.identity.label"
          br-options="{
            name: 'label', label: 'Full Name',
            placeholder: 'My Full Name', disabled: {{model.loading}},
            autocomplete: 'off',
            columns: {
              label: 'col-md-2',
              input: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
          Enter the full name that is associated with this new identity.
          For instance "My Full Name" or "Mega Corp".
        </br-input>

        <br-input br-model="model.identity.sysSlug"
          ng-model="model.identity.sysSlug"
          br-slug-in="model.identity.label"
          br-options="{
            name: 'sysSlug', label: 'Short Name',
            placeholder: 'my-short-name', disabled: {{model.loading}},
            autocomplete: 'off', maxlength: '32',
            columns: {
              label: 'col-md-2',
              input: 'col-md-8',
              help: 'col-md-offset-2 col-md-8'
            }
          }">
          Enter a short name for this identity. A name similar to your full
          name will help people to identify you. This short name will be
          used in your identity address as shown below. An example would be
          "my-short-name", "myshortname", or "megacorp".
        </br-input>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <small>{{model.data.identityBaseUri}}/</small><strong>{{model.identity.sysSlug}}</strong>
          </div>
        </div>
        <div ng-show="model.identity.sysSlug" class="form-group">
          <div class="col-md-offset-2 col-md-8"
            br-duplicate-checker="model.identity.sysSlug"
            br-duplicate-checker-type="identity"
            br-duplicate-checker-available="This identity name is available!"
            br-duplicate-checker-invalid="Identity name is invalid."
            br-duplicate-checker-taken="Identity name has already been taken."
            br-duplicate-checker-checking="Checking Availability..."
            br-duplicate-checker-result="model.identitySlugAvailable">
          </div>
        </div>
      </fieldset>

      <br />

      <fieldset>
        <legend>Service Agreement</legend>

        <div class="form-group" br-property-path="agreementChecked">
          <div class="col-md-offset-2 col-md-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="model.agreementChecked"> I agree to the <a target="_blank" href="/legal#tos">Terms of Service</a> and <a target="_blank" href="/legal#pp">Privacy Policy</a>.
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group">
        <div class="col-md-offset-2">
          <button type="submit"
            ng-disabled="model.loading || model.identitySlugAvailable != 'available' || (model.emailAvailable != 'available' && model.emailAvailable != 'unavailable') || !model.agreementChecked"
            class="btn btn-primary btn-lg">Create Identity</button>
          <span ng-show="model.loading">
            <i class="fa fa-refresh fa-spin fa-lg"></i>
          </span>
        </div>
      </div>
    </form>

  </div>
</div>
{% endraw %}

{% endblock %}
