<h2>Credits</h2>

<p>This website would not be possible without the following fantastic
open source projects, open standards, and open licensing-based projects:
<ul>
<li>
  <a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a>,
  <a href="http://en.wikipedia.org/wiki/CSS3">CSS3</a>,
  <a href="http://jquery.com/">jQuery</a>,
  <a href="http://twitter.github.com/bootstrap">Bootstrap</a>,
  <a href="http://angularjs.org/">AngularJS</a>,
  <a href="https://angular-ui.github.io/">AngularUI</a>, and
  <a href="https://ivaynberg.github.io/select2/">Select2</a>
</li>
<li>
  <a href="http://json.org/">JSON</a>,
  <a href="http://www.w3.org/TR/rdfa-primer/">RDFa</a>,
  <a href="http://json-ld.org/">JSON-LD</a>,
  <a href="https://github.com/digitalbazaar/jsonld">JSON-LD in JavaScript</a>, and
  <a href="https://code.google.com/p/green-turtle/">Green Turtle RDFa processor</a>
</li>
<li>
  <a href="http://payswarm.com/">PaySwarm</a>
  (Web Payments, Web Commerce, and Payment Intents)
</li>
<li>
  <a href="http://nodejs.org/">Node.js</a> and
  <a href="http://www.mongodb.org/">MongoDB</a>
</li>
<li>
  <a href="http://en.wikipedia.org/wiki/Javascript">JavaScript</a> and
  <a href="http://en.wikipedia.org/wiki/Python_(programming_language)">Python</a>
</li>
<li>
  <a href="http://payswarm.com/specs/source/web-keys/">Web Keys</a>,
  <a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES</a>,
  <a href="http://en.wikipedia.org/wiki/RSA_(algorithm)">RSA</a>, and
  <a href="http://www.openssl.org/">OpenSSL</a>
</li>
<li>
  <a href="http://www.debian.org/">Debian</a>,
  <a href="http://www.ubuntu.com/">Ubuntu</a>, and
  <a href="http://en.wikipedia.org/wiki/Linux">Linux</a>
</li>
<li>The many, many <a href="http://www.gnu.org/">GNU utilities</a> we use every day</li>
<li>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></li>
<li>Icons from <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a> by Dave Gandy</li>
<li>Icons from <a href="http://www.yootheme.com/icons">YOOtheme</a></li>
<li><a href="https://github.com/nezasa/iso8601-js-period">iso8601-js-period</a> by <a href="http://www.nezasa.com/">Nezasa</a></li>
</ul>
