{% extends 'layout.html' %}

{% set pageTitle = "Identity" %}
{% set clientData.pageTitle = "Identity" %}

{% block content %}

<div class="static-content">
  <div class="row">
    <div class="title-section span12">
      <h1 class="headline">{{identity.label}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="section span12">
      <h3 class="headline">Identity Details</h3>

      <dl class="dl-horizontal" about="" typeof="bed:{{identity.type}}">
        {% if identity.label %}
        <dt>Label</dt>
        <dd>
          <ul class="unstyled">
            <li property="rdfs:label">{{identity.label}}</li>
          </ul>
        </dd>
        {% endif %}

        {% if identity.description %}
        <dt>Description</dt>
        <dd>
          <ul class="unstyled">
            <li property="dc:description">{{identity.description}}</li>
          </ul>
        </dd>
        {% endif %}

        {% if identity.url %}
        <dt>Website</dt>
        <dd>
          <ul class="unstyled">
            <li><a property="schema:url" href="{{identity.url}}">{{identity.url}}</a></li>
          </ul>
        </dd>
        {% endif %}

        {% if identity.image %}
        <dt>Image</dt>
        <dd>
          <ul class="unstyled">
            <li><img property="schema:image" style="max-width: 80px; max-height: 80px" src="{{identity.image}}"/></li>
          </ul>
        </dd>
        {% endif %}

        <dt>Cryptographic Keys</dt>
        {% if keys.length > 0 %}
        <dd>
          <ul class="unstyled">
            {% for key in keys %}
            <li>
              <a about="" rel="sec:publicKey" href="{{key.id}}">
                <span property="rdfs:label">{{key.label}}</span>
              </a>
              <span about="{{key.id}}" typeof="sec:CryptographicKey">
                <link rel="sec:owner" href="" />
              </span>
            </li>
            {% endfor %}
          </ul>
        </dd>
        {% else %}
        <dd>
          <ul class="unstyled">
            <li>No publicly visible keys.</li>
          </ul>
        </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>

{# <div data-ng-view></div> #}

<hr />
<div data-ng-include="'/app/components/util/demo-warning.html'"></div>

{% endblock %}
