{% set pageTitle = "Cryptographic Key Details" %}
{% set clientData.pageTitle = "Cryptographic Key Details" %}
{% include "head.html" %}

<div class="static-content">
  {% if key.label %}
  <div class="row">
    <div class="title-section span12">
      <h1 class="headline">{{key.label}}</h1>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="section span12">
      <h3 class="headline">Cryptographic Key Details</h3>

      <dl class="dl-horizontal" about="" typeof="sec:CryptographicKey">
        {% if key.label %}
        <dt>Label</dt>
        <dd>
          <ul class="unstyled">
            <li property="rdfs:label">{{key.label}}</li>
          </ul>
        </dd>
        {% endif %}

        <dt>Status</dt>
        <dd>
          <ul class="unstyled">
            <li>{{key.sysStatus}}</li>
          </ul>
        </dd>

        {% if key.revoked %}
        <dt>Revoked</dt>
        <dd>
          <ul class="unstyled">
            <li property="sec:revoked" datatype="xsd:dateTime" content="{{key.revoked}}">{{key.revoked | date('M d, Y h:m:s a')}}</li>
          </ul>
        </dd>
        {% endif %}

        <dt>Owner</dt>
        <dd>
          <ul class="unstyled">
            <li><a rel="sec:owner" href="{{key.owner}}">{{key.owner}}</a></li>
          </ul>
        </dd>

        {% if key.publicKeyPem %}
        <dt>Public Key PEM</dt>
        <dd>
          <ul class="unstyled">
            <li><pre property="sec:publicKeyPem">{{key.publicKeyPem}}</pre></li>
          </ul>
        </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>

{# <div data-ng-view></div> #}

<hr />
<div data-ng-include="'/app/components/util/demo-warning.html'"></div>

{% include "foot.html" %}
