{% set pageTitle = "Sign In" %}
{% set clientData.pageTitle = "Sign In" %}
{% set pageLayout = "minimal" %}
{% include "head.html" %}

{% raw %}
<div data-ng-controller="LoginCtrl">

<h2 class="headline">Sign in to {{model.siteTitle}}</h2>

<div class="alert alert-info headline" data-ng-show="model.sessionExpired">
  Your session has expired so you've been taken to the login screen.
</div>

<form class="headline" method="post" action="" data-ng-submit="submit()">
  <fieldset>
    <div class="control-group">
      <div data-ng-hide="multiple" class="controls">
        <input name="sysIdentifier" type="text" autofocus="autofocus"
          data-ng-model="sysIdentifier"
          placeholder="Email" data-ng-disabled="loading" />
      </div>

      <div data-ng-show="multiple">
        <p class="alert alert-info">
          <strong>Note:</strong>
          Your email address ({{email}}) is associated with multiple
          identities. Please select the identity you'd like to sign in with.
        </p>
        <div class="controls">
          <select name="identity" autofocus="autofocus"
            data-ng-model="identity"
            data-ng-options="value.id as value.label for value in choices"
            data-ng-disabled="loading">
          </select>
        </div>
      </div>

      <input type="hidden" name="ref" value="{{ref}}"/>

      <div class="controls">
        <input name="password" type="password" placeholder="Password"
          data-ng-model="password" data-ng-disabled="loading" />
      </div>

      <div data-spinner="loading"
        data-spinner-class="center-spinner"></div>

      <div data-ng-hide="loading" class="controls btn-group">
        <button class="btn btn-primary" data-submit-form
          data-ng-disabled="loading">Sign In</button>
        <button class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          data-ng-disabled="loading">
          <span class="caret"></span>
        </button>
        <div></div>
        <ul class="center dropdown-menu">
          <li>
            <a href="/join">
              <i class="icon-user"></i>
              Create an Identity
            </a>
          </li>
          <li>
            <a href="/session/passcode">
              <i class="icon-refresh"></i>
              Password Reset
            </a>
          </li>
        </ul>
      </div>

      <div data-ng-show="error">
        <hr />
        <div class="alert alert-error">{{error}}</div>
      </div>
    </div>
  </fieldset>
</form>

</div>
{% endraw %}

{% include "foot.html" %}