<div data-ng-controller="NavbarController as model" class="ng-cloak">
  <div class="navbar">
    <div class="navbar-inner navbar-inner-banner">
      <div class="container">
        {% if session.loaded %}
          {% if pageLayout == "normal" %}
            <a class="brand" href="/">
              {% if style.brand.src %}
              <img src="{{style.brand.src}}" width="{{style.brand.width}}" height="{{style.brand.height}}" alt="{{style.brand.alt}}" />
              {% else %}
              {{siteTitle}}
              {% endif %}
            </a>
            {% raw %}
            <ul class="nav">
              <li data-ng-repeat="item in model.navbar.private" data-ng-class="{active: pageTitle == item.pageTitle, dropdown: item.items}">
                <a data-ng-if="!item.items" href="{{item.url || (model.identity.id + '/' + item.slug)}}"><i class="{{item.icon}}"></i> {{item.label}}</a>
                <a data-ng-if="item.items" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="{{item.icon}}"></i> {{item.label}}
                  <b class="caret"></b>
                </a>
                <ul data-ng-if="item.items" class="dropdown-menu">
                  <li data-ng-repeat="subitem in item.items" data-ng-class="{active: pageTitle == subitem.pageTitle, divider: subitem.divider}">
                    <a data-ng-if="!subitem.divider" href="{{subitem.url || (model.identity.id + '/' + subitem.slug)}}"><i class="{{subitem.icon}}"></i> {{subitem.label}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% endraw %}
          {% else %}
            <img class="brand-minimal" src="{{style.brand.src}}" width="{{style.brand.width}}" height="{{style.brand.height}}" alt="{{style.brand.alt}}" />
          {% endif %}
          {% raw %}
          <a class="btn btn-nav btn-small show pull-right{{model.showHovercard && ' active' || ''}}"
            data-popover-template="/app/components/navbar/hovercard.html"
            data-popover-visible="model.showHovercard"
            data-title="{{model.identity.label}}"
            data-placement="bottom">
          <div stackable="model.showLogin" stackable-disable-escape="true">
            <div data-login-modal></div>
          </div>
            <i class="icon-user"></i>
          </a>
          <a class="navbar-link pull-right" style="line-height:45px"
            data-ng-click="model.showHovercard=!model.showHovercard">
            {{model.identity.label || '-'}}
          </a>
          {% endraw %}
        {% endif %}
      </div>
    </div>
  </div>
  <div data-alerts data-fixed="true"></div>
</div>
