<div class="ng-cloak" ng-controller="NavbarController as model">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          {% if style.brand.src %}
          <img src="{{style.brand.src}}" width="{{style.brand.width}}" height="{{style.brand.height}}" alt="{{style.brand.alt}}" />
          {% else %}
          {{siteTitle}}
          {% endif %}
        </a>
      </div>
    </div>
  </nav>
  <div br-alerts br-fixed="true"></div>
</div>
