<div data-ng-controller="NavbarController as model" class="ng-cloak">
  <div class="navbar">
    <div class="navbar-inner navbar-inner-banner">
      <div class="container">
        <a href="/">
          {% if style.brand.src %}
          <img class="brand-minimal" src="{{style.brand.src}}" width="{{style.brand.width}}" height="{{style.brand.height}}" alt="{{style.brand.alt}}" />
          {% else %}
          {{siteTitle}}
          {% endif %}
        </a>
      </div>
    </div>
  </div>
  <div data-alerts data-fixed="true"></div>
</div>
