{% extends 'layout.html' %}

{% set pageTitle = "Reset Password" %}
{% set clientData.pageTitle = "Reset Password" %}

{% block content %}

{% raw %}
<div class="ng-cloak" ng-controller="PasscodeController as model">

<div class="row">
  <div class="col-md-12">
    <div ng-include="'/app/components/util/demo-warning.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="headline">Reset Password</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <hr />

    <form class="form-horizontal" ng-submit="model.sendReset()">
      <fieldset>
        <legend>Get Passcode</legend>

        <br-input br-model="model.email"
          br-options="{
            name: 'sysIdentifier', label: 'Email', disabled: {{loading}},
            columns: {
              label: 'col-md-2',
              input: 'col-md-9',
              help: 'col-md-offset-2 col-md-9'
            }
          }">
          Please enter the email address that you used when you registered
          with this website.
        </br-input>

        <div class="form-group">
          <div class="col-md-offset-2">
            <button type="submit" ng-disabled="loading"
              class="btn btn-primary">Send Reset Instructions</button>
            <span ng-show="loading">
              <i class="fa fa-refresh fa-spin text-muted"></i>
            </span>
          </div>
        </div>
      </fieldset>
    </form>

  </div>
</div>

<br />

<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <form class="form-horizontal" ng-submit="model.updatePassword()">
      <fieldset>
      <legend>Update Your Password</legend>

      <br-input br-model="model.email"
        br-options="{
          name: 'sysIdentifier', label: 'Email', disabled: {{loading}},
          columns: {
            label: 'col-md-2',
            input: 'col-md-9',
            help: 'col-md-offset-2 col-md-9'
          }
        }">
        Please enter the email address that you used above to retrieve
        reset instructions and a reset passcode.
      </br-input>

      <br-input br-model="model.sysPasscode"
        br-options="{
          name: 'sysPasscode', label: 'Passcode', disabled: {{loading}},
          columns: {
            label: 'col-md-2',
            input: 'col-md-9',
            help: 'col-md-offset-2 col-md-9'
          }
        }">
        Please enter the passcode that was sent to you in the password
        reset email from this website.
      </br-input>

      <br-input br-model="model.sysPasswordNew"
        br-options="{
          name: 'sysPasswordNew', type: 'password',
          label: 'New Password', disabled: {{loading}},
          columns: {
            label: 'col-md-2',
            input: 'col-md-9',
            help: 'col-md-offset-2 col-md-9'
          }
        }">
        Please enter the new password that you would like to use when
        accessing this website.
      </br-input>

      <div class="form-group">
        <div class="col-md-offset-2">
          <button type="submit" ng-disabled="loading"
            class="btn btn-primary">Set Password</button>
          <span ng-show="loading">
            <i class="fa fa-refresh fa-spin text-muted"></i>
          </span>
        </div>
      </div>
      </fieldset>
    </form>

  </div>
</div>

</div>
{% endraw %}

{% endblock %}
