<div ng-class="{'fixed-alert-area': fixed == 'true', 'fixed-alert-area-show': fixed == 'true' && app.services.alert.total}">
  <div ng-class="{'fixed-alert-area-body': fixed == 'true'}">
    <div ng-repeat="(category, list) in app.services.alert.log">
      <div ng-show="alertCategory == 'all' || alertCategory == category">
        <div class="alert-area-{{category}}"></div>
        <div data-ng-repeat="info in list">
          <div ng-if="!info.value.html" class="alert alert-{{info.type}}">
            <button type="button" class="close" ng-click="closeAlert(info)">&times;</button>
            <span ng-if="info.value.type == 'bedrock.validation.ValidationError'">
              Please correct the information you entered.
            </span>
            <span ng-if="!info.value.html && info.value.type != 'bedrock.validation.ValidationError'">
              {{info.value.message}}
              <span ng-show="info.value.cause && info.value.cause.message">
                {{info.value.cause.message}}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
