<dl class="dl-horizontal">
  <dt ng-show="model.error.name">Name</dt>
  <dd ng-show="model.error.name">
    <ul class="list-unstyled">
      <li>{{model.error.name}}</li>
    </ul>
  </dd>

  <dt ng-show="model.error.message">Message</dt>
  <dd ng-show="model.error.message">
    <ul class="list-unstyled">
      <li>{{model.error.message}}</li>
    </ul>
  </dd>

  <dt>Details</dt>
  <dd ng-show="model.error.details">
    <ul class="list-unstyled">
      <li><pre>{{model.error.details|json}}</pre></li>
    </ul>
  </dd>
  <dd ng-hide="model.error.details">
    <ul class="list-unstyled">
      <li>Details unavailable. Please contact a support representative.</li>
      <li ng-show="model.error.stack"><pre>{{model.error.stack}}</pre></li>
    </ul>
  </dd>
</dl>
