<!--
<pre>FIELD OPTIONS: {{options|json}}</pre>
<pre>FIELD PROPERTY: {{property|json}}</pre>
<pre>FIELD KEY: {{key|json}}</pre>
<pre>FIELD VALUE: {{value|json}}</pre>
<pre>FIELD SCHEMA: {{schema|json}}</pre>
<pre>FIELD RANGE: {{range|json}}</pre>
-->
<div ng-if="options.editable" class="form-group">
  <div ng-switch="range">
    <div ng-switch-when="URL">
      <br-select ng-if="rangeOptions" br-model="value[key]"
        br-items="rangeOptions" br-display-item="item.label"
        br-options="{
          icon: 'globe',
          name: '{{key}}',
          label: '{{schema.label}}',
          key: 'value'
        }">
        {{schema.comment}}
      </br-select>
      <br-input ng-if="!rangeOptions" br-model="value[key]"
        br-options="{
          icon: 'globe',
          name: '{{key}}',
          label: '{{schema.label}}',
          type: 'url',
          placeholder: 'Resource URL'
        }">
        {{schema.comment}}
      </br-input>
    </div>
    <div ng-switch-when="String">
      <br-select ng-if="rangeOptions" br-model="value[key]"
        br-items="rangeOptions" br-display-item="item.label"
        br-options="{
          icon: 'pencil',
          name: '{{key}}',
          label: '{{schema.label}}',
          key: 'value'
        }">
        {{schema.comment}}
      </br-select>
      <br-input ng-if="!rangeOptions" br-model="value[key]"
        br-options="{
          icon: 'pencil',
          name: '{{key}}',
          label: '{{schema.label}}',
          type: 'text'
        }">
        {{schema.comment}}
      </br-input>
    </div>
    <!-- TODO: textarea
    <div ng-switch-when="...">
      <br-textarea br-model="value[key]"
        br-options="{
          icon: 'comment',
          name: 'foo.bar',
          label: 'Comment',
          placeholder: 'Comment',
          rows: '3'
        }"></br-textarea>
    </div>
    -->
    <div ng-switch-when="Date">
      <br-select ng-if="rangeOptions" br-model="value[key]"
        br-items="rangeOptions" br-display-item="item.label"
        br-options="{
          name: '{{key}}',
          label: '{{schema.label}}',
          key: 'value'
        }">
        {{schema.comment}}
      </br-select>
      <br-datepicker ng-if="!rangeOptions" br-model="value[key]"
        br-options="{
          name: '{{key}}',
          label: '{{schema.label}}',
          format: 'yyyy/MM/dd',
          time: (24*60*60*1000 - 1)
        }">
        {{schema.comment}}
      </br-datepicker>
    </div>
    <!-- TODO: schema:image
    <div ng-switch-when="...">
      ...
    </div>
    -->
    <div ng-switch-default>
      <label class="control-label col-sm-3">{{schema.label}}</label>
      <p class="text-error">Unknown property type. Contact support.</p>
      <pre>PROPERTY: {{property|json}}</pre>
      <pre>SCHEMA: {{schema|json}}</pre>
    </div>
  </div>
        <!--
          <br-input br-model="custom.label"
            br-options="{
              icon: 'tag',
              name: 'custom.{{$index}}.label',
              placeholder: 'Label',
              inline: true,
              columns: {input: 'col-sm-7'}
            }"></br-input>
          <div class="col-sm-1">
            <button type="button" class="btn btn-danger"
              ng-click="badgeTemplate.custom.splice($index, 1)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </div>
        <br-select br-model="custom.type"
          br-items="customTypes" br-display-item="item.label"
          br-options="{
            name: 'custom.{{$index}}.type', label: 'Type', key: 'id'
          }"></br-select>
        <br-input br-model="custom.value"
          br-options="{
            icon: (custom.type == 'url' && 'globe') || 'list',
            name: 'custom.{{$index}}.value',
            label: 'Value',
            type: (custom.type == 'url' && 'url') || 'text',
            placeholder: 'Default {{(custom.type == 'url' && 'URL') || 'Text'}}'
          }"></br-input>
        -->
</div>
<div ng-if="!options.editable">
  <!-- FIXME: add schema.comment as help text -->
  <dt ng-if="value[key]">{{schema.label}}</dt>
  <dd ng-if="value[key]">
    <ul class="list-unstyled">
      <!-- FIXME: repeat over array -->
      <li ng-switch="range">
        <div ng-switch-when="URL">
          <a href="{{value[key]}}">{{value[key]}}</a>
        </div>
        <div ng-switch-when="String">
          {{value[key]}}
        </div>
        <!-- TODO: textarea
        <div ng-switch-when="...">
          <p>{{value[key]}}</p>
        </div>
        -->
        <div ng-switch-when="Date">
          {{value[key] | date:'medium'}}
        </div>
        <!-- TODO: schema:image
        <div ng-switch-when="...">
          <img ng-src="{{value[key]}}" />
        </div>
        -->
        <div ng-switch-default>
          <p class="text-error">Unknown property type. Contact support.</p>
          <pre>PROPERTY: {{property|json}}</pre>
          <pre>SCHEMA: {{schema|json}}</pre>
        </div>
      </li>
    </ul>
  </div>
</div>
